.bookmark {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--secondary);
  color: var(--white);
}

.bookmark:hover {
  cursor: pointer;
}

.bookmark_icon {
  background: var(--secondary);
  fill: var(--white);
  width: 2em;
}

.bookmark__icon--active {
  fill: black;
  width: 2em;
  background-color: var(--secondary);
  opacity: 0.75;
}

.card__button-bookmark {
  position: absolute;
  right: 4rem;
  top: -1.5rem;
}
