form {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  align-items: center;
  margin-bottom: 5vh;
}

label {
  font-family: var(--ff-primary);
  font-size: var(--fs-500);
  font-weight: bold;
}

label textarea {
  display: block;
  width: 90vw;
  font-family: var(--ff-primary);
}

.button {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 0 auto 2rem auto;
  padding: 1rem;
}

.button:hover {
  opacity: 0.75;
  cursor: pointer;
}
